NODE_ENV=
SERVER_NAME=
# PORT=
# IP=
# live
# PORT=
# IP=
IP=

#aws public ip ugi
# IP=
#aws privet ip ugi
# IP=

# Ports
PORT=
MONGODB_PORT=

# MongoDB
DATABASE_NAME=
MONGODB_ADMINUSERNAME=
MONGODB_ADMINPASSWORD=
WEB_INTERFACE_USERNAME=
WEB_INTERFACE_PASSWORD=

# DATABASE_URL=

# Super User
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=


JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=


NODEMAILER_HOST_EMAIL=
NODEMAILER_HOST_PASS=
OTP_EXPIRE_TIME=
OTP_TOKEN_EXPIRE_TIME=

# USER_JWT_TOKEN=

STRIPE_API_KEY=
STRIPE_API_SECRET=
CLIENT_URL=
BCRYPT_SALT_ROUNDS=

WEBHOOK=
# WEBHOOK=

# live 
SOCKET_PORT=
# SOCKET_PORT=

GOOGLEAPI=
# GOOGLEAPI=
